raviyax.me, www.raviyax.me {
tls freshhackrip@gmail.com
reverse_proxy webserver:80

}

 www.medsupplyx.duckdns.org, medsupplyx.duckdns.org {
 tls wishwajithnisal@gmail.com
 reverse_proxy webserver:80
 }

achchigeredda.duckdns.org, www.achchigeredda.duckdns.org {
    tls your_email@gmail.com

    basicauth * {
        ravishan $2a$14$9vjWGM6EoMIpvb5Rg/7NjuAWf3.wKU0c2DruCPAE8I4ylWPSUy1oK
    }

    reverse_proxy webserver:80
}


www.ravishan.duckdns.org, ravishan.duckdns.org {
 tls achchigeredda@gmail.com
    reverse_proxy webserver:80
}
